<h2 style= "text-align: -webkit-auto">Create A New Booking</h2>
<%= form_tag :action => 'create' do %>
<table style= "text-align: -webkit-center">
	<tr>
		<td>
<label for = "flat_booking_title">Title of Booking:</label></td>
<td><%= text_field 'flat_booking', 'title' %></td></tr>
<tr>
	<td>
<label for = "flat_booking_agreement_amount">Agreement Amount:</label></td>
	<td>
<%= text_field 'flat_booking', 'agreement_amount' %><td></tr>
<tr><td>
<label for = "flat_booking_date">Date Of Booking:</label></td>
	<td>
<%= date_field 'flat_booking', 'date_of_booking' %></td></tr>

<tr>
	<td>
<label for = "flat_booking_area">Area(Squarefeet):</label></td>
	<td>
<%= text_field 'flat_booking', 'area' %></td></tr>
<tr>
	<td>
<label for = "flat_booking_base_price">Base Price:</label></td>

<td>
<%= text_field 'flat_booking', 'base_price' %></td></tr>
<tr><td></td><td>
<button><%= submit_tag "Create" %></button></td></tr>
<br/>
<tr><td></td><td>
<%= link_to 'Back', {:action => 'list'}%></td></tr>
<% end -%>

</table>
